[submodule "Hamlib"]
	path = Hamlib
	url = https://github.com/Chris-AC9KH/Hamlib.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/Chris-AC9KH/libusb.git
[submodule "Qt6"]
        path = Qt6
        url = https://github.com/qt/qt5.git
        branch = 6.8.1
